@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-port-darker text-gray-100;
  }
}

/* Scrollbar estilizada marítima */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0F19;
}
::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0284C7;
}
